{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        {% if form.vars.data.imageFilename|default %}
            <div class="col-sm-6 mb-3">
                <img src="{{ form.vars.data.imagePath | imagine_filter('admin_image') }}" class="w-100"
                     alt="{{ form.vars.data.id }}">
            </div>
        {% endif %}
    </div>
    {{ form(form) }}
{% endblock %}