<button type="button"
        class="add-another-collection-widget btn btn-primary mb-3"
        data-list-selector="#{{ id }}"><i class="fa-plus-circle fas"></i> Добавить пункт
</button>
<button type="button"
        class="remove-collection-widget btn btn-outline-danger mb-3 float-right"
        data-list-selector="#{{ id }}"><i class="fa-times-circle fas"></i> Удалить пункт
</button>