<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Администратор
        | {{ project_title }}{% block title %}{% if title is defined %} | {{ title }}{% endif %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/all.css') }}">
    {% block stylesheets %}{% endblock %}

</head>

<body class="bg-light">
<div class="wrapper">
    <nav id="sidebar" class="bg-dark">
        <div class="sidebar-header bg-dark">
            <h3>Администратор</h3>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('admin_page_index') }}"
                       class="bg-{% if app.request.get('_route') in ['admin_page_index'] %}light text-dark{% else %}secondary{% endif %}">Главная</a>
                </li>

                <li>
                    <a href="{{ path('admin_veteran_list') }}"
                       class="bg-{% if app.request.get('_route') in ['admin_veteran_list', 'admin_veteran_create', 'admin_veteran_edit'] %}light text-dark{% else %}secondary{% endif %}">Ветераны</a>
                </li>
                <li>
                    <a href="{{ path('admin_resources') }}"
                       class="bg-{% if app.request.get('_route') in ['admin_resources'] %}light text-dark{% else %}secondary{% endif %}">Ресурсы</a>
                </li>
                <li>
                    <a href="{{ path('admin_contacts') }}"
                       class="bg-{% if app.request.get('_route') in ['admin_contacts'] %}light text-dark{% else %}secondary{% endif %}">Контакты</a>
                </li>
                <li>
                    <a href="{{ path('admin_settings') }}"
                       class="bg-{% if app.request.get('_route') in ['admin_settings'] %}light text-dark{% else %}secondary{% endif %}">Настройки</a>
                </li>

            </ul>
        {% endif %}
    </nav>

    <!-- Page Content  -->
    <div id="content" class="container{% block fluid %}{% endblock %} card">
        <h1 class="card-header">{% block header %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}</h1>
        <div class="card-body">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ asset('admin/js/jquery.min.js') }}"></script>
<script src="{{ asset('admin/js/popper.min.js') }}"></script>
<script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('admin/js/script.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>